<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Turnover</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/turnover.css' ) }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/export.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js')}}"></script>
</head>

<body>
<main>
{% include "nav.html" %}

<div class="container">

  {% if alerts %}
      {% include "alerts.html" %}
  {% else %}
  
  {% endif %}
  
  <div class="input-field col s12">
    {% if viewform %}
      <form>
        <strong>Select view: </strong>
        {{ viewform.client() }}
      </form>
    {% endif %}
  </div>
  
  <p></p>
  
  {% block content %}

  {% endblock content %}

</div>


<div id="addalert" class="modal" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Alert</h4>
      </div>
      <div class="modal-body">
        {% include "addalert.html" %}
      </div>
      <div class="modal-footer"><p></p>
      </div>
    </div>
</div>



<div id="addevent" class="modal" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Event</h4>
      </div>
      <div class="modal-body">
        {% include "addevent.html" %}
      </div>
        <div class="modal-footer"><p></p>
      </div>
    </div>
  </div>
</div>



<br>
<br>
</main>
</body>
<footer>
  <div id="footer-copyright" class="container">
    <p>&copy; Josh Flinner {{ now }}</p>
  </div>
</footer>
</html>
