<div class="card ">

  <div class="card-content">

    <span class="card-title center red accent-4 white-text">
      <strong>{{ title }}</strong>
      <div id='viewtitleid' class="hidden">{{ title.id }}</div>
    </span>

    <table id="eventtable" border="1" style="width:100%" class="striped centered responsive-table">

      <tr>
        <th class="col s2 l2">
          Timestamp
        </th>
        <th class="col s2 l2">
          User
        </th>
        <th class="col s8 l8">
          Event
        </th>
      </tr>

      {% for event in eventviewlogs %}
          <tr>
            <td style="text-align: center;">{{ event.posted.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td style="text-align: center;">{{ event.poster }}</td>
            <td>{{ event.event }}</td>
          </tr>
      {% endfor %}
      
    </table>

  </div>

</div>
