<nav class='z-depth-2'>
    <div class="nav-wrapper red accent-4" id="navbar">

        
        <a class="brand-logo" href="{{ url_for('home') }}">Turnover</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" class="modal-trigger" data-toggle="modal" data-target="addevent">
                Add Event
            </a></li>
            <li><a href="#" class="modal-trigger" data-toggle="modal" data-target="addalert">
                Add Alert
            </a></li>
            <li><a href="{{ url_for('search') }}" class="navsearch">
                Search
            </a></li>
        </ul>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#" data-toggle="modal" data-target="#addevent">
                Add Event
            </a></li>
            <li><a href="#" data-toggle="modal" data-target="#addalert">
                Add Alert
            </a></li>
            <li><a href="{{ url_for('search') }}" class="navsearch">
                Search
            </a></li>
        </ul>


    </div>
</nav>
